python==3.11.8
accelerate==1.6.0
datasets==2.18.0
huggingface-hub==0.31.1
matplotlib==3.8.2
numpy==1.26.4
pandas==2.1.4
python-metar==1.4.0
scikit-learn==1.4.1.post1
torch==2.7.0
tqdm==4.67.1
transformers==4.67.1
wandb==0.16.4
